<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{snippet.title}}</title>
	<link rel="stylesheet" href="/static/js/highlight/src/styles/{{style}}.css">
	<style>
	body{
		font-family: "Myriad Pro",Arial,sans-serif;
	}
	h4,h5{
		margin:5px;
	}
	body,pre,code{
		margin:0;
		padding:0;
	}
	</style>
</head>
<body>
	<h4>{{snippet.title}}</h4>
	{% if showDescription==true %}
	<h5>{{snippet.description}}</h5>
	{% endif %}
	<pre><code>{{snippet.prettyContent|raw}}
	</code></pre>
</body>
</html>