{% extends 'layout.html.twig' %}
{% block content %}
    {% if snippet is defined %}
        <h3>{{ snippet.title }}</h3>
        <div>Author : <a href="#">{{ snippet.user.account.username|default("anonymous") }}</a></div>
        <div>Language : <a href="{{ path("home",{category:snippet.category.title}) }}">{{ snippet.category.title }}</a></div>
        <div>&nbsp;</div>
        <p class="serif">{{ snippet.description }}</p>
        <div>&nbsp;</div>
<pre class="prettyprint">
<code>{{ snippet.content }}
</code>
</pre>
    {% else %}
        <h3>Snippet  {{ query }} not found</h3>
    {% endif %}
    {% include 'common/prettify.html.twig' %}
{% endblock %}