<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/snipped-icon.png"/>
    {% block head %}{% endblock %}
</head>
<body>
    <main class="container container-narrow">
        <div class="header">
            <ul class="nav nav-pills pull-right">
              <li class="{%if route == "home"%}active{%endif%}"><a href="/">Home</a></li>
              {% if isAuthenticated %}
                <li class="{%if route == "profile" %}active{%endif%}"><a href="/profile">Welcome back <strong>{{user.username}}</strong></a></li>
                <li class="">
                    <a href="/profile/signout">Sign out</a>
                </li>
              {%else%}
                <li class="{%if route == "signin"%}active{%endif%}"><a href="/signin">Signin</a></li>
                <li class="{%if route == "join"%}active{%endif%}"><a href="/join">Join</a></li>
              {%endif%}
            </ul>
            <h2 class="text-muted"><a href="/" class="brand">{{title}}</a> 
            <small><small class="brand">{{slogan}}</small></small></h2>
        </div>
            <p class="lead">&nbsp;</p>
            {% if flash %}
                <ul class="list-unstyled">
                {% for type,messages in flash %}
                    {% for message in messages %}
                        <li class="text-{{type}}">{{ message }}</li>
                    {% endfor %}
                {% endfor %}
                </ul>
            {%endif%}
            {% if categoriesWithSnippetCount.length > 0  %}
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        {% for _category in categoriesWithSnippetCount %}
                            <li class="{%if category && (_category.id == category.id)%}active{%endif%}"><a href='/category/{{_category.id}}/{{_category.title}}'>{{ _category.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
            <p>&nbsp;</p>
            {% endif %}
            <div class="content">
            {% block content %}{% endblock %}
            </div>
        <footer class="footer">
            <p>&copy; mparaiso <mparaiso@online.fr> 2014</p>
        </footer>
    </main>
   
    {% block scripts %}{% endblock %}
</body>
</html>
