{% extends 'layout.twig' %}
{% block content %}
    <h3>{{snippet.title}}</h3> 
    <p class="text-muted">
        <small>
            {{snippet.created_at|date('Y-m-d')}} {{snippet.user.username}} <a href="/category/{{snippet.category.id}}/{{snippet.category.title}}">{{snippet.category.title}}</a>
        </small>
    </p>
    <p>{{snippet.description}}</p>
    <pre>{{snippet.content}}

</pre>
{% endblock %}
{% block scripts %}
    {{parent()}}
    <script type="text/javascript" src="//cdn.jsdelivr.net/highlight.js/8.0/highlight.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/8.0/styles/monokai_sublime.css" />
    <script type="text/javascript">
        hljs.highlightBlock(document.querySelector('pre'));
    </script>
{% endblock %}
