 <h4 class="truncate"><a href="/snippet/{{snippet.id}}/{{snippet.title|slug}}">{{snippet.title}}</a></h4>
<div><a href="/category/{{snippet.category.id}}/{{snippet.category.title|slug}}"><small>{{snippet.category.title}}</small></a></div>
<p>{{snippet.description}}</p>
<p>&nbsp;</p>
